@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

.wrapper{
    background: linear-gradient(to bottom right ,#3D3459 , #171335 , #383055);
}

.mobile-nav-bg{
    /* background: linear-gradient(to bottom right ,#3D3459 , #171335 , #383055); */
    background-color: #286d6d;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    /* border-radius: 35px; */

}

body{
    overflow: hidden;
}

.featured-playlist-max-lg{
    display: flex;
    overflow-x: auto;
    background: #000;
}